/*
DEV NOTES:

Colors
------------------------
#262d3a - dark grey

#252d39 - aside bg
#e3e3e3 - bg light
#bfc1c4 - bg dark

#16a2f9 - blue highlight

#929598 - font - dark on dark
#b2b2b2 - font - normal on dark


TODO:

- add aria roles
- add more hover states
- mark code with ShowNTell


*/



*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #727578;
}


.bolder {
  font-weight: 600;
}



.body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.body-left-aside {
  background-color: #252d39;
  color: #b2b2b2;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.aside-hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #b2b2b2, rgba(0, 0, 0, 0));
}

.aside-section-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

      .avatar-cropped {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-image: url("../images/avatar.jpg");
        background-size: cover;
      }

      .avatar-name {
        margin-top: 15px;
        cursor: pointer;
      }

      .avatar-name i {
        margin-left: 10px;
      }

.aside-main-admin-wrapper {
  display: flex;
  flex-direction: column;
}

.aside-section-main,
.aside-section-admin,
.aside-section-categories {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px 0;
  justify-content: space-between;
  height: 200px;
}

      .aside-section-main div,
      .aside-section-admin div {
        text-transform: uppercase;
        font-family: 'Varela Round', sans-serif;
        font-weight: 500;
        font-size: 90%;
        margin-left: 20px;
        margin-right: 20px;
        padding: 7px 0;
      }

      .aside-section-main div:hover,
      .aside-section-admin div:hover {
        background-color: #242424;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 0px;
        padding-left: 10px;
        border-left: 3px solid #16a5fb;
        position: relative;
        left: -3px;
      }

      .aside-section-main p,
      .aside-section-admin p {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
      }

      .aside-section-main i,
      .aside-section-admin i {
        font-size: 140%;
        min-width: 25px;
        /*margin-right: 10px;*/
      }

      .aside-section-main span,
      .aside-section-admin span {
        font-size: 90%;
        position: relative;
        top: 5px;
      }

      .aside-main-title,
      .aside-admin-title,
      .aside-categories-title {
        color: #929598;
        font-size: 90%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

.aside-section-categories {
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  height: 175px;
}

.aside-section-categories div {
  margin-left: 20px;
  margin-right: 20px;
}

.aside-section-categories input {
  /*background: #fed911;*/
  /*background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
  border-radius: 5px;
  border: 2px solid black;
  /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border: 2px solid #262d3a;
  border-radius: 4px;
  /*background: yellow;*/
  content: "\00a0";
  display: inline-block;
  /*font: 16px/1em sans-serif;*/
  height: 18px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 18px;
}
input[type="checkbox"]:checked + label:before {
  /*background: yellow;*/
  color: #262d3a;
  content: "\2718␠";
  text-align: center;
  font-weight: bold;
}


input[id="checkbox-admin"] + label:before {
  background: #fed911;
}
input[id="checkbox-admin"]:checked + label:before {
  background: #fed911;
}


input[id="checkbox-design"] + label:before {
  background: #28aeff;
}
input[id="checkbox-design"]:checked + label:before {
  background: #28aeff;
}


input[id="checkbox-executive"] + label:before {
  background: #e81b61;
}
input[id="checkbox-executive"]:checked + label:before {
  background: #e81b61;
}


input[id="checkbox-hr"] + label:before {
  background: #00af8a;
}
input[id="checkbox-hr"]:checked + label:before {
  background: #00af8a;
}













.body-right-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}






.main-header {
  color: #727578;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-bottom: 1.5px solid #a6a9ac;
  border-top: 0;
  height: 60px;
}

.header-just-icon {
  min-width: 60px;
  font-size: 130%;
  /*flex: 1;*/
  border-right: 1.5px solid #a6a9ac;
  border-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-just-icon:hover {
  background-color: #16a5fb;
  color: #ffffff;
}

.header-just-icon:first-child {
  border-left: 0;
}

.header-just-icon:last-child {
  border-right: 0;
}

.header-search {
  color: #a6a9ac;
  /*width: 100%;*/
  /*flex: 7;*/
  flex-grow: 1;
  margin-left: 20px;
  border-right: 1.5px solid #a6a9ac;
  border-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-search i {
  margin-right: 10px;
  font-size: 125%;
}

.input-search {
  color: #727578;
  padding: 5px;
  /*width: 300px;*/
  border: 0;
  outline: 0;
}










.main-section-top {
  display: flex;
  flex-direction: column;
  padding: 40px 35px 0 35px;
}

.main-top-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-top-top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 60px;*/
}

.main-top-top-left a {
  color: #16a2f9;
  text-decoration: none;
  font-weight: 500;
}

.page-title {
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  font-size: 175%;
  margin-bottom: 10px;
}

  .page-tabs:last-child {
    display: none;
  }


.location-info {
  padding-left: 10px;
  font-size: 95%;
  color: #a6a9ac;
  font-weight: 500;
}

.location-info i {
  margin-right: 5px;
  font-size: 115%;
}








.main-top-top-right {
  display: flex;
  flex-direction: row;
}

.btn-round {
  border: 2px solid #a6a9ac;
  border-radius: 30px;
  /*height: 30px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 10px;*/
  margin-right: 10px;
  min-width: 30px;
  max-height: 30px;
  cursor: pointer;
}

.btn-round:hover {
  background-color: #c5d2da;
}

.btn-round i {
  font-size: 100%;
  padding: 10px;
}

.btn-round:last-child {
  margin-right: 0;
}

.btn-active {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 75%;
  border-radius: 30px;
  padding-right: 10px;
}

.btn-active i {
  padding-right: 5px;
  color: #86bf32;
  /*font-size: 105%;*/
}





.main-top-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
}


.page-tabs {
  border: 0;
  /*border-bottom: 3px solid #16a2f9;*/
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 75%;
  cursor: pointer;
}

.page-tabs:first-child,
.page-tabs:hover {
  border-bottom: 3px solid #16a2f9;
}


















.main-section-mid {
  border-top: 1.5px solid #e3e3e3;
  /*background-color: #edf2f6;*/
  background-color: #edf2f6;
  /*height: 100%;*/
  width: 100%;
  padding: 40px 35px 35px 35px;
}



.graphs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graphs-circle, .graphs-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.circle-wrapper, .bar-wrapper {
  display: flex;
  flex-direction: row;
}

.fat-circle {
  display: flex;
  height: 130px;
  width: 130px;
  margin-right: 20px;
  position: relative;
}
.fat-circle:last-child {
  margin-right: 0;
}

.border-rotate {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border: 7px solid #c5d2da;
  border-radius: 50%;
}

.border-stop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-green {
  border-color: #42b9bd #42b9bd #c5d2da #42b9bd;
  transform: rotate(315deg);
}

.circle-blue {
  border-color: #1ea3f0 #1ea3f0 #c5d2da #c5d2da;
  transform: rotate(200deg);
}

.circle-purple {
  border-color: #c5d2da #c5d2da #af6cb1 #c5d2da;
  transform: rotate(40deg);
}

.circle-text-big {
  font-size: 200%;
  font-weight: 800;
  margin-bottom: 5px;
}

.circle-text-small {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 75%;
}











.btn-round-embed {
  border: 2px solid #a6a9ac;
  background-color: #FFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  max-height: 30px;
  font-weight: 600;
  font-size: 75%;
  padding: 6px 15px 5px 15px;
  margin-top: 30px;
}

.btn-round-embed span {
  margin: 0 3px;
  color: #515355;
}












.main-hr {
  padding: 0;
  border: none;
  width: 100%;
  border-top: 1.5px solid #b2b2b2;
  color: #b2b2b2;
  text-align: center;
  margin: 40px 0;
  /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #b2b2b2, rgba(0, 0, 0, 0));*/
}


.main-hr:after {
  content: "^";
  display: inline-block;
  position: relative;
  top: -0.4em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #edf2f6;
  /*border: 1.5px solid #b2b2b2;*/
  /*border-radius: 50%;*/
}



.main-section-bot {
  background-color: #edf2f6;
  width: 100%;
  padding: 40px 35px 35px 35px;
  display: flex;
}


.main-bot-left {
  width: 70%;
  margin-right: 35px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  /*display: flex;*/
  /*align-items: stretch;*/
}


.job-desc-wrapper {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  /*background-color: #ffffff;*/
  /*border: 1px solid #c5d2da;*/
  /*border-radius: 10px;*/
}

.job-desc-header {
  padding: 20px;
  background-color: #6f7e95;
  color: #d5dee3;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #c5d2da;
  border-radius: 5px 5px 0 0;
}

.job-desc-header span {
  font-size: 90%;
  background-color: #7d8ba6;
  padding: 8px 10px;
  margin-left: 20px;
  border: 1px ridge #657594;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
}

.job-desc-header span i {
  margin-right: 5px;
}

.job-desc-body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}


.job-entry {
  font-size: 115%;
  font-weight: 400;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.job-entry .job-entry-title {
  font-weight: 600;
  min-width: 200px;
  text-transform: uppercase;
  font-size: 85%;
}

.job-entry .job-entry-desc {
  font-size: 90%;
}

.job-friend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-friend img {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.job-hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #b2b2b2, rgba(0, 0, 0, 0));
}







.main-bot-right {
  width: 30%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-wrapper-links {
  display: flex;
  flex-direction: column;
}

.social-btn {
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: blue;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  /*font-size: 90%;*/
}

.social-btn:last-child {
  margin-bottom: 0;
}

.social-btn p {
  display: flex;
  justify-content: flex-start;
}

.social-btn i {
  /*font-size: 140%;*/
  min-width: 25px;
}

.social-link-facebook{
  background-color: #4a6fc0;
}

.social-link-twitter{
  background-color: #02abef;
}

.social-link-linkedin{
  background-color: #0482bc;
}







.social-wrapper-widget {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-wrapper-widget:last-child {
  margin-bottom: 0;
}

.social-widget-top {
  font-size: 140%;
  font-weight: 600;
  margin-bottom: 10px;
}

.social-widget-top span {
  margin-left: 10px;
}

.social-widget-mid {
  margin-bottom: 10px;
  text-align: justify;
}

.social-widget-bot {
  display: flex;
  flex-direction: row;
}

.social-input-text {
  outline: none;
  padding: 15px;
  border: 1px solid #c5d2da;
  border-radius: 5px 0 0 5px;
  color: #727578;
  flex: 1;
}

.no-button {
  border-radius: 5px;
}


.social-input-btn {
  cursor: pointer;
  outline: none;
  padding: 15px;
  border: 1px solid  #c5d2da;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  background-color: #3fb7c0;
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}








@media screen and (max-width: 1100px) {

  .graphs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .graphs-circle {
    margin-bottom: 40px;
  }

  .main-section-bot {
    display: flex;
    flex-direction: column;
  }

  .main-bot-left {
    margin-bottom: 40px;
    width: 100%;
  }

  .main-bot-right {
    width: 100%;
  }

  .graphs-circle, .graphs-bar {
    flex-direction: row;
    justify-content: space-around;
  }

  .social-wrapper-links {
    display: flex;
    flex-direction: row;
  }

  .social-btn {
    margin-right: 30px;
  }

  .social-btn:last-child {
    margin-right: 0;
    margin-bottom: 15px;
  }

}


@media screen and (max-width: 950px) {

  .main-top-top {
    flex-direction: column;
  }

  .main-top-top-right {
    margin-top: 20px;
  }

  .graphs-circle, .graphs-bar {
    flex-direction: column;
    justify-content: space-between;
  }


  .page-tabs {
    font-size: 65%;
  }


}





@media screen and (max-width: 750px) {


.page-title {
  font-size: 115%;
  margin-bottom: 5px;
}

.main-top-top-right {
  margin-top: 15px;
}

 .page-tabs {
   display: none;
 }


  .page-tabs:last-child {
    font-size: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e3e3e3;
    border-bottom: 2px dotted #e3e3e3;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    margin: 0;
    position: relative;
    top: 2px;
    background-color: #edf2f6;
  }

  .page-tabs:last-child:hover {
    background-color: #17a5fb;
    color: #ffffff;
    border-bottom: 2px solid #edf2f6;
  }


  .page-tabs:last-child i {
    font-size: 200%;
    line-height: 10px;
  }

  .header-search {
    flex-grow: 1;
  }

  /*.main-header {
    height: 45px;
  }*/

  .input-search {
    max-width: 10px;
  }

  .circle-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .fat-circle {
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
  }

  .border-stop {
    position: absolute;
    left: 115px;
  }

  .graphs-circle {
    align-items: center;
  }

  .border-stop {
    flex-direction: row;
    justify-content: space-between;
  }


  .circle-text-big {
    margin-right: 20px;
  }

  .circle-text-small {
    font-size: 100%;
  }

  .btn-round-embed {
    margin-top: 10px;
  }

  .bar-wrapper img {
    width: 305px;
    height: 125px;
  }


  .job-entry {
    flex-direction: column;
  }

  .social-wrapper-links {
    flex-direction: column;
  }

  .main-bot-right {
    min-width: 100px;
  }

  .main-section-mid {
    padding-bottom: 0;
  }

  .main-section-bot {
    padding-top: 0;
  }

  .body-left-aside {
    min-width: 180px;
  }

  .avatar-name {
    font-size: 80%;
  }

  .avatar-cropped {
    width: 75px;
    height: 75px;
  }

  .aside-section-avatar {
    margin-top: 20px;
  }

  .aside-section-main div,
  .aside-section-admin div {
    font-size: 80%;
  }

  .aside-section-categories {
    font-size: 80%;
  }

  .job-entry-title {
    margin-bottom: 5px;
  }

  .job-entry-desc {
    position: relative;
    left: 10px;
  }

}





@media screen and (max-width: 600px) {

  .body-wrapper {
    flex-direction: column;
  }



    .avatar-name {
      font-size: 100%;
    }

    .avatar-cropped {
      width: 100px;
      height: 100px;
    }

    .aside-section-avatar {
      margin-top: 40px;
    }

    .aside-section-main div,
    .aside-section-admin div {
      font-size: 100%;
    }

    .aside-section-categories {
      font-size: 100%;
    }


      /*.bar-wrapper img {
        width: 360px;
        height: 147px;
      }*/

      .circle-text-big {
        font-size: 125%;
      }

      .circle-text-small {
        font-size: 85%;
      }

      .social-widget-top {
        font-size: 115%;
      }

      .location-info {
        display: flex;
        flex-direction: column;
      }

      .location-info i {
        display: none;
      }

      .header-search {
        flex-grow: 1;
      }

      .job-desc-header {
        display: flex;
        flex-direction: column;
      }

      .job-desc-header span {
        margin-left: 0;
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid #657594;
      }

      .social-input-text {
        min-width: 10px;
      }

      .aside-section-main span,
      .aside-section-admin span {
        /*display: none;*/
      }

      .aside-section-main,
      .aside-section-admin,
      .aside-section-categories {
        /*flex-direction: row;*/
        /*height: 175px;*/
      }

      .aside-main-admin-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      #hr-main-admin {
        display: none;
      }

}




/*end*/
