/*

FADCBE - tan headshot bg
#FCE9D6 - even lighter tan than above
7A5938 - brown
FBB773 - orange
C7AF97 - grey tan
FFF6E9 - background of card
C7B59E - background of page
591C0E - maroon
496F80 - grey blue
3C4042 - dark grey - header bg
0BC9C0 - teal

*/



* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #C7B59E;
}




/*

OLD



*/



.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-section {
  background-color: #3C4042;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.text-menu {
  display: flex;
  flex-direction: row;
}

.text-menu>span {}

.text-menu-wrapper {
  color: #FBB773;
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu-pre {
  margin-right: 10px;
  font-size: 26px;
  color: #fce9d6;
}

.menu-post {
  margin-left: 10px;
  color: #FBB773;
}

.header-bot {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /*width: 100%;*/
}

.text-title {
  /*width: 30%;*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text-title> :first-child {
  margin-right: 20px;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  line-height: 0.1;
  color: #FCE9D6;
  text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
}

.text-title> :last-child {
  /*min-width: 15%;*/
  /*max-width: 15%;*/
}

.text-title> :last-child>img {
  /*width: 100%;*/
  width: 60px;
  height: 60px;
}

.text-subtitle {
  /*width: 70%;*/
  font-family: 'Varela Round', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #C7B59E;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text-subtitle span {
  margin-left: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-subtitle> :first-child, .text-subtitle> :first-child>i {
  margin-left: 0;
  color: #FCE9D6;
}

.text-subtitle span i {
  margin-right: 13px;
}

.bigly {
  font-size: 30px;
  color: #FBB773;
  min-width: 25px;
}


/*

MAIN SECTION

*/

.main-section {
  display: flex;
  flex-direction: column;
}

.main-section-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-left: 15px;
  color: #3C4042;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid #C7AF97;
  border-radius: 4px;
  background-color: #FFF6E9;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  position: relative;
}

.card-header:hover img {
  margin-left: 0;
}

.card-header-info {
  position: relative;
  display: flex;
  flex-direction: row;
}

.card figure img {
  margin-left: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.avatar {
  /*width: 280px;*/
  width: 100%;
  /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px #7A5938;
  border-radius: 4px 4px 0 0;
  /*text-align: center;*/
}

.bg-tan {
  /*background-color: #FADCBE;*/
  /*border-bottom: 1px solid #C7AF97;*/
  background: #FFF6E9;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFF6E9, #FADCBE 70%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF6E9, #FADCBE 70%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF6E9, #FADCBE 70%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF6E9, #FADCBE 70%);
  /* Standard syntax */
}

figure {
  /*width: 280px;*/
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  /*background: #fff;*/
  overflow: hidden;
}

.info-back {
  position: absolute;
  left: 13px;
  top: -1px;
}

.info-rank-wrapper {
  position: absolute;
  right: 20px;
  top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-rank {
  font-family: 'Varela Round', sans-serif;
  margin: 15px 0px 4px 0px;
  font-size: 13px;
  font-weight: 600;
  color: #591C0E;
}

.info-rank-sub {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  color: #591C0E;
}

.card-bio {
  padding: 20px;
  /*font-family: 'Varela Round', sans-serif;*/
  /*font-size: 18px;*/
  display: flex;
  flex-direction: column;
  color: #3C4042;
}

.bio-section {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.bio-section p {
  margin: 0;
}

.bio-a> :first-child {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.bio-a> :last-child {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  margin-top: 3px;
  color: #496F80;
}

.bio-b {
  margin: 18px 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}

.bio-c> :first-child {
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.bio-c> :last-child {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 2px;
}

.bio-d {
  margin-top: 18px;
}

.bio-d> :first-child {
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.bio-d> :last-child {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #FBB773;
}

.bio-shaded {
  background-color: #FCE9D6;
  border: 1px solid #FADCBE;
  padding: 6px;
}

.bio-shaded p {
  text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
  color: #3C4042;
}





@media screen and (max-width: 1150px) {

  .text-menu-wrapper {
    font-size: 15px;
  }

  .menu-pre {
    font-size: 22px;
  }

  .text-subtitle {
    font-size: 17px;
  }
  .text-subtitle span {
    margin-left: 25px;
  }
  .text-subtitle> :first-child, .text-subtitle> :first-child>i {

  }
  .text-subtitle span i {
    margin-right: 10px;
  }
  .bigly {
    font-size: 25px;
  }
  .text-title> :first-child {
    margin-right: 10px;
    font-size: 30px;
  }
  .text-title> :last-child {

  }
  .text-title> :last-child>img {
    width: 35px;
    height: 35px;
  }
  .main-section-title {
    /*font-family: 'Varela Round', sans-serif;*/
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    /*font-weight: 600;*/
    /*margin-left: 15px;*/
    /*color: #3C4042;*/
  }

}

@media screen and (max-width: 982px) {

  .text-menu {
    margin: 20px 0 0 0;
  }
  .text-subtitle {
    flex-direction: column;
    align-items: flex-start;
  }
  .text-subtitle span {
    margin-left: 0;
    margin-bottom: 5px;
  }
  .text-title> :first-child {
    font-size: 40px;
  }
  .text-title> :last-child {

  }
  .text-title> :last-child>img {
    width: 50px;
    height: 50px;
  }

}



@media screen and (max-width: 660px) {

  .header-top {
    position: absolute;
    top: 0;
    right: 25px;
  }

  .header-section {
    flex-direction: column-reverse;
  }

  .header-bot {
    flex-direction: column;
    align-items: flex-start;
  }

}


@media screen and (max-width: 500px) {

  .header-top {
    position: relative;
    /*justify-content: flex-end;*/
  }

  .header-section {
    flex-direction: column;
    align-items: center;
  }


}

/*.card-bio p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}*/


/*end*/
